<% if current_user.profile.admin %>
<h1 class="text-center"> Messages </h1>

<main id="messages" class="table table-hover">
	<%= link_to "", new_message_path, class: "fa fa-plus-circle new-btn", id: "plus" %>
	<table >
		<thead>
			<tr>
				<th>Section</th>
				<th>Subject</th>
				<th id="sms">Message</th>
			</tr>
		</thead>
		<tbody>
	  			<% Message.all.uniq.pluck(:subject, :body, :section_id).each do |message| %>
			<tr>
			     <td><%= Section.find_by_id(message[2]).name %></td>
			     <td><%= message[0] %></td>
			     <td><%= message[1] %></td>
			    <% end %>
			</tr>
		</tbody>
	</table>
</main>
<% else %>
<%= render "shared/taboo" %>
<% end %>
