<%= simple_form_for(@profile, html: {id: :msform}) do |f| %>
  <%=  f.error_notification %>

<fieldset>
<h2>Edit profile</h2>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :totem %>
    <%= f.input :birth_date %>
    <%= f.input :address %>
    <%= f.input :zip_code %>
    <%= f.input :city %>
    <%= f.input :phone_number %>
    <%= f.input :gender %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</fieldset>
<% end %>
