<h2>Profiles Table</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody><% @profiles.each do |profile| %>
    <tr class="clickable" data-toggle="collapse" id="<%= profile.id %>" data-target=".<%= profile.id %>collapsed">
      <td><%= profile.first_name %></td>
      <td><%= profile.last_name %></td>
      <td><%= profile.user.email %></td>
      <td>&nbsp;</td>
    </tr>
    <tr class="collapse out budgets <%= profile.id %>collapsed">
      <td>
        <ul>
          <li><%= profile.first_name %></li>
          <li><%= profile.last_name %></li>
          <li><%= profile.totem %></li>
          <li><%= profile.user.email %></li>
          <li><%= profile.gender %></li>
          <li><%= profile.birth_date %></li>
          <li><%= profile.address %></li>
          <li><%= profile.zip_code %></li>
          <li><%= profile.city %></li>
          <li><%= profile.country %></li>
          <li><%= profile.phone_number %></li>
          <li><%= profile.comment %></li>
        </ul>
      </td>
      <td>&nbsp;</td>

    </tr>
  <% end %></tbody>
</table>
