<% if current_user.profile.admin %>
  <%= content_for(:after_js) do %>
  <h1 class="text-center">Users</h1>
    <main class="profile-tab invoice-tab-box">

      <div class="tabs-bar">
<!-- tabs -->
        <span>
          <% Section.all.each do |section| %>
          <button class="tabs-bar-item tab-button" onclick="openTab('<%= section.name %>')"><%= section.name %></button>
          <% end %>
          <button class="tabs-bar-item tab-button" onclick="openTab('pending')">Pending</button>
          <button class="tabs-bar-item tab-button" onclick="openTab('all')">All</button>
        </span>
      </div>

        <% Section.all.each do |section| %>
          <div id='<%= section.name %>' class="tab" style="display:none">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Birthday</th>
                </tr>
              </thead>
              <tbody>
                <% Child.where(section_id: section.id).where(status: "Accepted").each do |child| %>
                  <tr>
                    <td> <%= child.first_name %> </td>
                    <td> <%= child.last_name %></td>
                    <td> <%= child.birthday %> </td>
                    <td> <%= link_to "edit", edit_child_path(child) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
        <div id='pending' class="tab" style="display:none">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Birthday</th>
                  <th>Section</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% Child.where(status: "Pending").each do |child| %>
                  <tr>
                    <td> <%= child.first_name %> </td>
                    <td> <%= child.last_name %></td>
                    <td> <%= child.birthday %> </td>
                    <td><%= Section.find_by_id(child.section_id).name  %></td>
                    <td><%= link_to "approve", approve_child_path(child.id), method: :post %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id='all' class="tab" style="display:none">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Birthday</th>
                  <th>Section</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% Child.all.each do |child| %>
                  <tr>
                    <td> <%= child.first_name %> </td>
                    <td> <%= child.last_name %></td>
                    <td> <%= child.birthday %> </td>
                    <td><%= Section.find_by_id(child.section_id).name  %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
  <%= link_to 'Download as .xlsx', profiles_path(format: :xlsx) %>
    </main>
</main>
<% end %>
<% else %>
<%= render "shared/taboo" %>
<% end %>
