
<div id="user-dashboard">

  <div id="body-box">

    <div id="bbox1">
      <h5>.</h5>
      <div class="profile-db card">
        <img class="avatar-large avatar-profile" src=" <%= cl_image_path current_user.profile.photo, {gravity: :face} %> " >
        <div class="card-header">
          <h4><%= current_user.profile.first_name %> <%= current_user.profile.last_name %> (<%= current_user.profile.totem %>)</h4>
        </div>
        <div class="card-body">
          <p><strong>EMAIL</strong></p>
          <p><%= current_user.profile.user.email %></p>
          <p><strong>BIRTH DATE</strong></p>
          <p><%= current_user.profile.birth_date %></p>
          <p><strong>ADDRESS</strong></p>
          <p><%= current_user.profile.address %>
          <p><%= current_user.profile.zip_code %> - <%= current_user.profile.city %> (<%= current_user.profile.country %>)</p>
          <p><strong>PHONE NUMBER</strong></p>
          <p><%= current_user.profile.phone_number %></p>
          <p><strong>ADDITIONAL INFORMATION</strong></p>
          <p><%= current_user.profile.comment %></p>
        </div>
        <div class="card-footer">

          <div class="edit-btn text-center" data-toggle="modal" data-target="#addChildModal">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </div>
          <!-- Modal -->
          <%= render "form" %>

          <div class="edit-btn text-center" data-toggle="modal" data-target="#editprofileModal">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <!-- Modal -->
          <%= render "shared/new-children" %>

        </div>
      </div>

    </div>

    <div id="bbox2">

      <div id="bbox21">

        <div id="bbox211">

          <h5>Calendar</h5>
          <div class="calendar-db card">
            <div class="card-body">
              <%= month_calendar events: @events, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, events| %>
                <% if !events.present? %>
                  <%= date.day %>

                <%#= if day has event dont show this one date.day %>
                <% else %>
                  <!-- Modal events show -->
                <div class="modal-btn" data-toggle="modal" data-target="#eventsModal"><%= date.day %></div>

                  <div class="modal fade" id="eventsModal" tabindex="-1" role="dialog" aria-labelledby="eventsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <button type=" button" class="close close-btn" data-dismiss="modal" aria-label="Close">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <div class="modal-body">
                          <% events.each do |event| %>
                            <p><strong><%= event.name %></strong></p>
                            <p>Start time   <%= event.start_time.strftime("%b %e, %l:%M %p") %></p>
                            <p>End time   <%= event.end_time.strftime("%b %e, %l:%M %p") %></p>
                            <p>Description   <%= event.description %></p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>

        <div id="bbox212">

          <h5>Reminders</h5>
          <div class="reminders-db card">
            <div class="card-body">
              <% @events.each do |event| %>
                <p><i class="fa fa-calendar" aria-hidden="true"></i><strong> <%= event.name %></strong> <%= event.start_time.strftime("%b %e, %l:%M %p") %></p>
              <% end %>
              <% @invoices.each do |invoice| %>
                <% if invoice.profile.user == current_user && invoice.status == "unpaid" %>
                  <p><i class="fa fa-eur" aria-hidden="true"></i><strong> <%= invoice.title %></strong> is due by <%= invoice.due_date.strftime("%b %d")%></p>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>

      </div>

      <div id="bbox22">

        <h5>Photos</h5>
        <div class="photos-db">
          <div class="card-body">

            <%= render "shared/carousel" %>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div id="bottom-box">

    <h5>Invoices</h5>
    <div class="invoices-db card">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Paid</th>
              <th>Pending</th>
              <th>Total</th>
              <th>Collected amount</th>
              <th>Due amount</th>
            </tr>
          </thead>
          <tbody>
            <% Invoice.uniq.pluck(:title).each_with_index do |invoice_title, i| %>
            <tr class="clickable" data-toggle="collapse" id="clickable<%= i + 1 %>" data-target="#collapsed<%= i + 1 %>">
              <td> <%= invoice_title %> </td>
              <td> <%= Invoice.where("title = ? AND status = ?", invoice_title, "paid").count %></td>
              <td> <%= Invoice.where("title = ? AND status = ?", invoice_title, "unpaid").count %></td>
              <td> <%= Invoice.where("title = ?", invoice_title).count %></td>
              <td> <%= Invoice.where("title = ? AND status = ?", invoice_title, "paid").pluck(:amount).sum %>€</td>
              <td> <%= Invoice.where("title = ? AND status = ?", invoice_title, "unpaid").pluck(:amount).sum %>€</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
