<div class="new-modal modal fade" id="viewChildModal" tabindex="-1" role="dialog" aria-labelledby="viewChildModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewChildModalLabel">View children</h5>
        <button type="button" class="close close-btn " data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        !!!
        Need to loop over the children of each current user - back end team help?
        !!!
        <div class="child-box">
          <div class="card-header">
            <h4><strong><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></strong> (<%= current_user.profile.totem %>)</h4>
            <p>• • • • • • • • • • • • • • • • •</p>
          </div>
            <p><strong>BIRTH DATE </strong>  <%= current_user.profile.birth_date %></p>
            <p><strong>ADDITIONAL INFORMATION </strong>  <%= current_user.profile.comment %></p>
            <p></p>
        </div>
      </div>
    </div>
  </div>
</div>


