<%= simple_form_for :global_search do |f| %>
  <%= f.input :query , placeholder: "#", label: false %>
  <%= f.submit "Search", class: "btn large" %>

<% end %>

<h2>All invoices</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody><% @invoices.each do |invoice|%>
    <tr>
      <td><%= invoice.title %></td>
      <td><%= invoice.profile.first_name %></td>
      <td><%= invoice.profile.last_name  %></td>
      <td><%= invoice.amount %> €</td>
      <td><%= invoice.status %></td>
      <td><%= link_to "edit", edit_invoice_path(:invoice_id) %></td>
      <td><%= link_to "show", invoice_path(invoice.id) %></td>
    </tr>
  <% end %></tbody>
</table>
<%= link_to 'download as .xlsx', invoices_path(format: :xlsx, global_search:{query: @query}) %>
