<h2>Quick Overview</h2>


<table class="table table-hover">
  <thead>
      <tr>
        <th>Invoice Title
        <th>Number of invoices</th>
        <th>Invoices Paid</th>
        <th>Invoices pending</th>
        <th>Amount currently collected</th>
        <th>Amount still due</th>
      </tr>
    </thead>
  <tbody>
    <% Invoice.uniq.pluck(:title).each_with_index do |invoice_title, i| %>
      <tr class="clickable" data-toggle="collapse" id="clickable<%= i + 1 %>" data-target="#collapsed<%= i + 1 %>">
        <td> <%= invoice_title %> </td>
        <td> <%= Invoice.where("title = ?", invoice_title).count %></td>
        <td> <%= Invoice.where("title = ? AND status = ?", invoice_title, "paid").count %></td>
        <td> <%= Invoice.where("title = ? AND status = ?", invoice_title, "unpaid").count %></td>
        <td> <%= Invoice.where("title = ? AND status = ?", invoice_title, "paid").pluck(:amount).sum %>€</td>
        <td> <%= Invoice.where("title = ? AND status = ?", invoice_title, "unpaid").pluck(:amount).sum %>€</td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>All invoices</h2>
<main>
  <form class="form-inline">
    <%= simple_form_for :global_search do |f| %>
      <%= f.input :query , placeholder:"search by user name" , label: false, input_html: { id: 'invoice_search_input' } %>
      <%= f.submit "Search", class: "btn large", id: 'invoice_search_button'  %>
    <% end %>
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Status <%= render "search_by_status" %></th>
        <th>Title <%= render "search_by_title" %></th>
        <th>Date <%= render "search_by_date" %></th>
        <th>Name</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice|%>
        <tr class="clickable" data-toggle="collapse" id="<%= invoice.id %>" data-target=".<%= invoice.id %>collapsed">
          <td><%= invoice.status %></td>
          <td><%= invoice.title %></td>
          <td><%= invoice.date %></td>
          <td><%= invoice.profile.first_name %> <%= invoice.profile.last_name %></td>
          <td><%= invoice.amount %> €</td>
          <td>
            <%= link_to edit_invoice_path(:invoice_id) do%>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
        <tr class="collapse out budgets <%= invoice.id %>collapsed">
          <td colspan = "6">
            <ul>
              <li><%= invoice.title %></li>
              <li><%= invoice.profile.first_name.capitalize %> <%= invoice.profile.last_name.upcase %></li>
              <li><%= invoice.amount %> €</li>
              <li><%= invoice.status %></li>
              <li></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'download as .xlsx', invoices_path(format: :xlsx, global_search:{query: @query}) %>
</main>
