<h1>all your invoices</h1>


<% @invoices.each do |invoice|%>
<ul>
<li> <%= invoice.title %> </li>
<li><%= invoice.profile.first_name %> </li>
<li><%= invoice.profile.last_name  %> </li>
<li><%= invoice.amount %> € </li>
<li><%= invoice.status %> </li>
<li> <%= link_to "edit", edit_invoice_path(:invoice_id) %></li>
<li> <%= link_to "show", invoice_path(invoice.id) %></li>
</ul>
<% end %>
