<div class="forms">
  <% if @event.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= simple_form_for [event], html: {id: :msform} do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :start_time , order: [:day, :month, :year], default: Time.parse('9:00')%>
  <%= f.input :end_time, order: [:day, :month, :year], default: Time.parse('17:00')%>

  <input type="hidden" name="sections[section_ids][]" value="" />

  <div class="tag">
  <input type="checkbox" value="1" name="sections[section_ids][]" id="sections_section_ids_1" />
  <label for="sections_section_ids_1">baladin</label>
    <i class="fa fa-plus"></i>
    <i class="fa fa-check"></i>
  </div>

  <div class="tag">
  <input type="checkbox" value="2" name="sections[section_ids][]" id="sections_section_ids_2" />
  <label for="sections_section_ids_2">louveteau</label>
    <i class="fa fa-plus"></i>
    <i class="fa fa-check"></i>
  </div>

  <div class="tag">
  <input type="checkbox" value="3" name="sections[section_ids][]" id="sections_section_ids_3" />
  <label for="sections_section_ids_3">éclaireur</label>
    <i class="fa fa-plus"></i>
    <i class="fa fa-check"></i>
  </div>

  <div class="tag">
  <input type="checkbox" value="4" name="sections[section_ids][]" id="sections_section_ids_4" />
  <label for="sections_section_ids_4">pionnier</label>
    <i class="fa fa-plus"></i>
    <i class="fa fa-check"></i>
  </div>

  <div class="tag">
  <input type="checkbox" value="5" name="sections[section_ids][]" id="sections_section_ids_5" />
  <label for="sections_section_ids_5">guide</label>
    <i class="fa fa-plus"></i>
    <i class="fa fa-check"></i>
  </div>

  <div class="tag">
  <input type="checkbox" value="6" name="sections[section_ids][]" id="sections_section_ids_6" />
  <label for="sections_section_ids_6">lutin</label>
    <i class="fa fa-plus"></i>
    <i class="fa fa-check"></i>
  </div>

  <div class="tag">
  <input type="checkbox" value="7" name="sections[section_ids][]" id="sections_section_ids_7" />
  <label for="sections_section_ids_7">horizon</label>
    <i class="fa fa-plus"></i>
    <i class="fa fa-check"></i>
  </div>

  <%= f.submit "GENERATE EVENT", class: "btn"%>
  <% end %>
</div>


