

  <% if @invoice.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @invoice.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= simple_form_for @invoice, html: {id: :msform} do |f| %>

    <div class="form-fields">
      <%= f.input :title %>
      <%= f.input :date %>
      <%= f.input :due_date %>
      <%= f.input :amount %>
      <%= f.input :bank_account %>
      <%= collection_check_boxes :sections, :section_ids, Section.all, :id, :name, prompt: true %>
    </div>
    <div class="submit-btn">
      <%= f.submit "generate invoice", class: "btn"%>
    </div>
  <% end %>


