
<div class="new-modal modal fade" id="addChildModal" tabindex="-1" role="dialog" aria-labelledby="editprofileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editprofileModalLabel">Add a child</h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@child, html: {id: :msform}) do |f| %>
          <%=  f.error_notification %>
        <div class="form-fields">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :birthday %>
          <%= f.input :section_id, collection: Section.all %>
          <%= f.input :comment %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
        </button>
        <%= f.button :submit , "Save changes", class: "submit-btn"%>
      </div>
      <% end %>
    </div>
  </div>
</div>


