<div class="content">
	<%= simple_form_for(@profile, html: {id: :msform}) do |f| %>
	<%=  f.error_notification %>

	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Personal Details</li>
		<li>Contact Details</li>
		<li>Other Details</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">Create your profile</h2>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :birth_date %>
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Create your profile</h2>
		<%= f.input :address %>
		<%= f.input :zip_code %>
		<%= f.input :city %>
		<%= f.input :phone_number %>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Create your profile</h2>
		<%= f.input :gender %>
		<%= f.input :totem %>
		<%= f.input :comment %>
		<%= f.input :photo, as: :attachinary %>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<div class="form-actions">
			<%= f.button :submit %>
		</div>
	</fieldset>
	<% end %>
</div>
