<h1>All events</h1>
<%=  link_to "create an event", new_event_path, class: "btn btn-primary" %>
<main>
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">All Events</label>
  <section id="content1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody><% @events.each do |event| %>
        <tr class="clickable" data-toggle="collapse" id="<%= event.id %>" data-target=".<%= event.id %>collapsed">
          <td><%= event.name %></td>
          <td><%= event.start_date %></td>
          <td><%= event.end_date %></td>
          <td><%= link_to 'Show', event_path(event.id), class:"btn-primary" %></td>
          <td><%= link_to 'Edit', edit_event_path(event.id), class:"btn-primary" %></td>
          <td><%= link_to 'Delete', event_path(event.id), method: :delete, class:"btn-danger" %></td>
        </tr>
      <% end %></tbody>
    </table>
  </section>
</main>


