<div class="about-page">

    <div class="container text-center padded features">
      <div class="row">
        <h1>Our services</h1>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "service1.png", class: "service" %>
          <h2>Community</h2>
          <p>Manage the members of your organisation.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "service3.png", class: "service" %>
          <h2>Invoicing system</h2>
          <p>Never lose track of your finances.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "service2.png", class: "service" %>
          <h2>Calendar tool</h2>
          <p>Create and share your events.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "service4.png", class: "service" %>
          <h2>Picture albums</h2>
          <p>Kepping your memories safe.</p>
        </div>
      </div>
    </div>

    <div class="about">
      <h1>About us</h1>
      <div class="profile text-center">
        <div class="main mission">
          <div class="main-content">
            <%= image_tag "mission.png", class: "icon", class: "icon" %>
            <h2>Misison</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="main vision">
          <div class="main-content">
            <%= image_tag "vision.png", class: "icon" %>
            <h2>Vision</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="main values">
          <div class="main-content">
            <%= image_tag "values.png", class: "icon" %>
            <h2>Values</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="about" id="team">
      <h1>Our Team</h1>
      <div class="profile text-center" id="profile">
        <div class="profile-content mission">
          <div class="profile-content">
            <%= image_tag "Regi.png", class: "icon", class: "icon" %>
            <h2>Regi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud eLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud e</p>
          </div>
        </div>
        <div class="profile-content vision">
          <div class="profile-content">
            <%= image_tag "Diogo.png", class: "icon" %>
            <h2>Diogo</h2>
            <p>Scout chief for 5 years, javascript enthusiast, portuguese bearded man and chicken lover. Proud to be part of this awesome project with an awesome team!</p>
          </div>
        </div>
        <div class="profile-content values">
          <div class="profile-content">
            <%= image_tag "Carmen.png", class: "icon" %>
            <h2>Carmen</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr.Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
          </div>
        </div>
        <div class="profile-content values">
          <div class="profile-content">
            <%= image_tag "Yass.png", class: "icon" %>
            <h2>Yass</h2>
            <p>Scout member by adoption after receving the medal the Order of the Narval Knights, the higest recognition given to any non-active scout in Belgium. Back-end hater, however my love for Front-end made possible my participation in this project as you can read in the footer.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
